---
import type { Lang } from '../i18n';
import { t } from '../i18n';

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
---

<div id="location" class="flex flex-col md:col-span-1 pb-6">
  <h2 class="text-center text-4xl mb-4">{t(lang, 'menu.location')}</h2>
  <iframe
    title="location on google map"
    class="flex-grow w-full min-h-[400px]"
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8343.075522572108!2d24.8108362!3d58.4815636!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ece6573013f239%3A0xd97fc28347415a84!2sTori%20Matkakeskus!5e0!3m2!1sen!2see!4v1688407668603!5m2!1sen!2see"
    allowfullscreen
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
